---
---
body {
    background-image: url('assets/background.svg'); /* Path to your image */
    background-size: cover; /* Adjusts the image to cover the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling of the image */
}
@import "{{ site.theme }}";
